.Layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    :global {
        .webgl {
            // animation: App-logo-spin infinite 20s linear;
            width: 600px;
            height: 600px;
        }
    }
}
